@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #09001d;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 18px;
    color: #cd5c5c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a:active {
    color: #16526a;
}

.main {
    min-height: 100vh;
    background: url('./static//background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /* can't hover over navbar */
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column ;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
    /* text-shadow: 0 0 10px rgba(0, 0, 0, .3); */
}

.home-content p {
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin: 15px 0 30px 0;
    color: #cd5c5c;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: #01796f;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #dabc94;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover {
    background: #09001d;
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #01796f;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 50px;
    color: #cd5c5c;
}

.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #cd5c5c;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #cd5c5c;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #fff;
    color: rgb(1, 121, 111);
}

.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #999;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #c0c0c0, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #999;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: #16526a;
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(225, 225, 225, .1);
    border-color: rgba(225, 225, 225, .1);
}

.option-list .option.correct {
    background: #ffecd0;
    color: #00a63d;
    border-color: #00a63d;
}

.option-list .option.incorrect {
    background: #271300;
    color: #B22222;
    border-color: #B22222;
}

.option-list .option.disabled {
    /* Once correct answer is selected, will disable incorrect ones */
    /* If incorrect answer is selected, then cannot choose other options */
    pointer-events: none;

}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #999;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(225, 225, 225, .1);
    border: 2px solid rgba(225, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16;
    color: rgba(225, 225, 225, .3);
    font-weight: 600;
    cursor: pointer;
    /* Currently want it none if no answer is selected  */
    pointer-events: none;
    transition: .5s;
}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: #16526a;
    border-color: #16526a;
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    background: #166A58;
    border-color: #166A58;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid aquamarine;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(.9);
}

.result-box h2 {
    font-size: 52px;
}

.result-box .percentage-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(turquoise 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;
}

.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 130px;
    height: 47px;
    background: maroon;
    border: 2px solid maroon;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1):hover {
    background: #73081C;
    border-color: #73081C;
}

.buttons button:nth-child(2) {
    background: transparent;
    color: turquoise;
}

.buttons button:nth-child(2):hover {
    background: turquoise;
    color: #fff;
}