@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 18px;
    color: #cd5c5c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a:active {
    color: #16526a;
}

.main {
    min-height: 100vh;
    background: url('./static//background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column ;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
    /* text-shadow: 0 0 10px rgba(0, 0, 0, .3); */
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
} 